


body {
    display: flex;
    justify-content: center;



}

.master-content {

    width: 1300px;
    height: 100vh;
    position: absolute;
    top: 0;



}




/* Top Nav */

.top-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.link-container {

    display: flex;
    flex-direction: row;
    justify-content: center;
}


/* Bottom Nav */

.bottom-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bottom-link-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.create-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* Record Details Page */

.image-details-page {
    width: 400px;
}


.artist-text {
    font-size: 2vh;
    font-weight: bold;
}


.vl {
    border-left: 2px solid #524f4a;
    height: 500px;
  }


/* Records Index */



.record-name {
    
    display: block;
    font-weight: bold;

}

.record-artist {
    font-style: italic;
}

/* Artists Index */

.artist-name {
    font-weight: bold;
    display: block;
}

.artist-location {
    display: block;
    font-style: italic;

}

/* Create Record */

.form-container {
    margin-top: 30px;
}

.form-container > .record-form > h1 {
    color: #212529;
    padding-bottom: 30px;
    font-size: 2vh;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.form-container {
    /* Effecting Artist Form as well */
    display: flex;
    justify-content: center;
    align-items: center;

}

.record-form {
    background-color: #A6A998;
    padding: 30px;
}

.record-form > table > tbody > tr > td > input {
    color: #C09984;
    width: 100%;
    border-radius: 5px 5px 5px 5px

}

.record-form > table > tbody > tr > td > textarea {
    color: #C09984;
    width: 100%;
    border-radius: 5px 5px 5px 5px

}

.record-form > table > tbody > tr > td > select {
    width: 100%;
    border-radius: 5px 5px 5px 5px;

}

.record-form > input {
    width: 100%;

}

/* Create Artist */


.artist-form {
    background-color: #A6A998;
    padding: 30px;
}

.artist-form > table > tbody > tr > td > input {
    color: #C09984;
    width: 100%;
    border-radius: 5px 5px 5px 5px

}

.artist-form > table > tbody > tr > td > textarea {
    color: #C09984;
    width: 100%;
    border-radius: 5px 5px 5px 5px

}


.artist-form > table > tbody > tr > td > select {
    width: 100%;
    border-radius: 5px 5px 5px 5px;

}

.artist-form > input {
    width: 100%;

}

.form-container > .artist-form > h1 {
    color: #212529;
    padding-bottom: 30px;
    font-size: 2vh;
    font-weight: bold;
    display: flex;
    justify-content: center;
}










/* Home Page  */


.home-page-body {

    display: grid;
    
}

.slider {
    width: 100%;
    max-width: 1300px;
    height: 500px;
    position: relative;
    overflow: hidden;  /* <===  */
   
  }

.slide {
    width: 100%;
    max-width: 1300px;
    height: 500px;
    position: absolute;
    transition: all 0.5s;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .btn {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 10px;
    cursor: pointer;
    background-color: #212529;
    font-size: 23px;
    font-weight: bold;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    
  }



  
  .btn:active {
    transform: scale(1.1);
  }
  
  .btn-prev {
    top: 45%;
    left: 2%;
  }
  
  .btn-next {
    top: 45%;
    right: 2%;
  }


.box-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
  

}

  .box {
    display: flex;
    justify-content: center;
    align-items: center;


    height: 400px;
    width: 400px;
    background-color: #524f4a;

    margin: 10px;



  }

  .box > img {
    display: flex;
    margin: 0;
    opacity: 0.2;
  }

  .box > .text {
    position: absolute;
    color: #d6af9a;
    font-weight: bold;
    font-size: 35px;
  }