



body {
    display: flex;
    justify-content: center;



}

.master-content {

    width: 1000px;
    background-color: bisque;
    height: 100vh;
    position: absolute;
    top: 0;



}




/* Top Nav */

.top-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.link-container {

    display: flex;
    flex-direction: row;
    justify-content: center;
}


/* Bottom Nav */

.bottom-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bottom-link-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.create-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* Record Details Page */

.image-details-page {
    width: 400px;
}

.record-info-container {

    
}


.artist-text {
    font-size: 2vh;
    font-weight: bold;
}



