{% extends 'base.html' %}

{% block content %}
<h1>The Record Detail</h1>

<div>
    <form action="{% url 'assoc_record' record.id %}" method="post">
      {% csrf_token %}
      <button type="submit">Add to Crate</button>
    </form>
  </div>

<div class="record-info-container">
    <div class="image-details-container">
        <img class="image-details-page" src={{record.image}} >
        {% if record.image_two %}
        <img class="image-details-page" src={{record.image_two}} >
        {% endif %}

    </div>


   <div class="record-details-container">
        Artists: {{ artist.artist_name }}
        <br>
        <hr>
        Name: {{ record.name }}  
        <br>
        <hr>
        Label: {{ record.label }}  
        <br>
        <hr>
        Genre: {{ record.genre }}  
        <br>
        <hr>
        Description: {{ record.description }}  
        <br>
        <hr>
        Format: {{ record.format }}  
        <br>
        <hr>
        Release Date: {{ record.release_date }}  
    </div>  

</div>

<a href="{% url 'records_update' record.id %}">Edit</a>
<a href="{% url 'records_delete' record.id %}">Delete</a>


<div>

    <form action="{% url 'add_tracklist' record.id %}" method="post" onSubmit="clearField();">


        {% csrf_token %}

        {{ form.as_p }}



        

        <input type="submit" value="Add Track">


    </form>


    <table>

        <thead>


            <tr>

                <th>Track Name</th>
                <th>Track Duration</th>
            </tr>
        </thead>


        <tbody>
            {% for tracklist in record.tracklist_set.all %}
            <tr>
                <td>{{tracklist.track_name }}</td>
                <td>{{tracklist.track_duration }}</td>
            </tr>
            {% endfor %}
        </tbody>


    </table>


</div>


{% endblock %}


