
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>The phonograph </title>
</head>
<body>


    <div class="master-content">

        <header>
            <nav class="top-nav">

                <div class="logo"> Logo </div>

                <div class="link-container">

                    <div><a href="{% url 'home' %}">Home</a></div>
                    <div><a href="{% url 'about' %}">About</a></div>
                    <div><a href="">Crate</a></div>

                    {% if user.is_authenticated %}
                    <div><a href="{% url 'logout' %}">Logout</a></div>

                    {% else %}
                    <div><a href="{% url 'login' %}">Login</a></div>
                    <div><a href="{% url 'signup' %}">Signup</a></div>
                    {% endif %}
                </div>

            </nav>
        </header>

        <nav class="bottom-nav">

            <div class="bottom-link-container">
              
                <div><a href="{% url 'records_index' %}">Records</a></div>
                <div><a href="{% url 'artists_index' %}">Artist</a></div>
                <div><a href=""> Label </a></div>
            </div>

            <div class="create-container">
                {% if user.is_authenticated %}
                <div><a href="{% url 'records_create' %}">Create Record</a></div>
                <div><a href="{% url 'artists_create' %}">Add Artist</a></div>
                {% endif %}
            </div>
        </nav>



        <main>
            {% block content %}

    

            {% endblock %}
        </main>

    
    </div>  
</body>
</html>